body {
    background-color: aquamarine;
}
body h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}
body h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: indigo;

}
textarea  {
    display: block;
    margin: 0 auto;
}
button {
    display: block;
    margin: 0 auto;
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
button:hover {
    background-color: deepskyblue;
}
#mensajes {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    color: darkblue;
}
